---
interface Props {
    title: string;
    link: string;
    imageAlt: string;
    imageSrc: string;
}

const { link, title, imageSrc, imageAlt } = Astro.props as Props;
---

<li
    class="mb-4 w-full shrink overflow-hidden rounded-lg bg-white text-[#343a40] shadow-card transition focus-within:-translate-y-1 hover:-translate-y-1 md:w-[49%]"
>
    <a class="block" href={link} target="_blank">
        <div class="flex h-[320px] flex-col gap-4">
            <img class="h-[70%] flex-shrink-0 object-cover" src={imageSrc} alt={imageAlt} />
            <h3 class="w-max max-w-full overflow-hidden text-ellipsis px-4 pb-2 text-xl">
                {title}
            </h3>
        </div>
    </a>
</li>
