---
import AboutMe from "./AboutMe.astro";
import Skills from "./Skills/Skills.astro";
import Projects from "./Projects/Projects.astro";
import ContactMe from "./ContactMe.astro";
---

<main>
    <AboutMe />
    <Skills />
    <Projects />
    <ContactMe />
</main>
