---
import Logo from "./Logo.astro";
const navItems = ["About me", "Skills", "Projects", "Contact"];
---

<header>
    <nav class="border-gray-300 h-[80px] bg-white shadow-md">
        <div class="mx-auto flex h-full max-w-5xl items-center px-4 text-black-200 lg:px-0">
            <div class="flex w-full justify-between gap-2">
                <a
                    class="inline-block w-[180px] focus:outline-none focus:outline-offset-0 focus:outline-primary"
                    href="#"
                >
                    <Logo />
                </a>
                <div
                    class="nav-menu fixed inset-0 z-10 translate-x-full overflow-y-auto bg-white transition-all duration-500 md:static md:translate-x-0 md:overflow-visible"
                >
                    <div class="flex h-[80px] items-center justify-between p-4 md:hidden">
                        <a
                            class="inline-block w-[180px] focus:outline-none focus:outline-offset-0 focus:outline-primary"
                            href="#"
                        >
                            <Logo />
                        </a>
                        <button
                            aria-label="Close side navigation menu"
                            class="btn-close-menu rounded-[4px] p-2 hover:bg-slate-200 focus:bg-slate-200 focus:outline-none focus:outline-offset-0 focus:outline-primary"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon icon-tabler icon-tabler-x"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                fill="none"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M18 6l-12 12"></path>
                                <path d="M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                    <ul class="flex h-[calc(100%-80px)] flex-col gap-4 p-3 text-xl md:h-auto md:flex-row md:p-0">
                        {
                            navItems.map(item => (
                                <li class="border-separator border-b pb-1 md:border-none md:p-0">
                                    <a
                                        class="hover:bg-secondary focus:bg-secondary focus:outline-primary inline-block w-full rounded-md px-3 py-2 focus:outline-none focus:outline-offset-0"
                                        href={`#${item.replace(" ", "-").toLowerCase()}`}
                                    >
                                        {item[0].toUpperCase() + item.substring(1)}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
                <button
                    aria-label="Open side navigation menu"
                    class="btn-open-menu self-center rounded-[4px] p-2 hover:bg-slate-200 focus:bg-slate-200 focus:outline-none focus:outline-offset-0 focus:outline-primary md:hidden"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-menu-2"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 6l16 0"></path>
                        <path d="M4 12l16 0"></path>
                        <path d="M4 18l16 0"></path>
                    </svg>
                </button>
            </div>
        </div>
    </nav>
</header>

<script>
    const navMenu: HTMLElement | null = document.querySelector(".nav-menu");

    function showNavMenu() {
        navMenu?.classList.remove("invisible");
        navMenu?.classList.remove("transition-none");
        navMenu?.setAttribute("aria-hidden", "false");
    }

    function hideNavMenu() {
        document.documentElement.classList.remove("overflow-y-hidden");
        navMenu?.setAttribute("aria-hidden", "true");
    }

    function handleChange(e: MediaQueryList | MediaQueryListEvent) {
        if (e.matches) {
            navMenu?.classList.add("invisible");
            navMenu?.classList.add("transition-none");
            navMenu?.setAttribute("aria-hidden", "true");
        } else {
            document.documentElement.classList.remove("overflow-y-hidden");
            showNavMenu();
        }
    }

    document.querySelector(".btn-open-menu")?.addEventListener("click", e => {
        document.documentElement.classList.add("overflow-y-hidden");
        navMenu?.classList.remove("translate-x-full");
        showNavMenu();
    });

    document.querySelectorAll(".nav-menu a, .btn-close-menu")?.forEach(el => {
        el.addEventListener("click", e => {
            document.documentElement.classList.remove("overflow-y-hidden");
            navMenu?.classList.add("translate-x-full");
            hideNavMenu();
        });
    });

    const mql = window.matchMedia("(max-width: 768px)");

    handleChange(mql);

    mql.addEventListener("change", handleChange);
</script>
