---
---

<footer class="bg-footer">
    <div class="mx-auto flex max-w-5xl justify-between px-4 py-4 lg:px-0">
        <div class="self-end text-center text-black-200">© 2023 Ahmed Deria</div>
        <div class="flex gap-4 text-social-link">
            <a
                class="rounded-sm hover:text-social-link-hover focus-visible:outline-none focus-visible:outline-offset-1 focus-visible:outline-primary"
                href="mailto:ahmedderia0@gmail.com"
                target="_blank"
            >
                <svg width="30" height="30" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg"
                    ><path
                        fill="currentColor"
                        class="clr-i-outline clr-i-outline-path-1"
                        d="M32 6H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h28a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2Zm-1.54 22H5.66l7-7.24-1.44-1.39L4 26.84V9.52l12.43 12.37a2 2 0 0 0 2.82 0L32 9.21v17.5l-7.36-7.36-1.41 1.41ZM5.31 8h25.07L17.84 20.47Z"
                    ></path><path fill="none" d="M0 0h36v36H0z"></path>
                </svg>
            </a>
            <a
                class="rounded-sm hover:text-social-link-hover focus-visible:outline-none focus-visible:outline-offset-1 focus-visible:outline-primary"
                href="https://github.com/ahmed-0011"
                target="_blank"
            >
                <!--?xml version="1.0" encoding="utf-8"?-->
                <!-- License: Apache. Made by Iconscout: https://github.com/Iconscout/unicons -->
                <svg
                    fill="currentColor"
                    width="30"
                    height="30"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    data-name="Layer 1"
                    ><path
                        d="M12,2.2467A10.00042,10.00042,0,0,0,8.83752,21.73419c.5.08752.6875-.21247.6875-.475,0-.23749-.01251-1.025-.01251-1.86249C7,19.85919,6.35,18.78423,6.15,18.22173A3.636,3.636,0,0,0,5.125,16.8092c-.35-.1875-.85-.65-.01251-.66248A2.00117,2.00117,0,0,1,6.65,17.17169a2.13742,2.13742,0,0,0,2.91248.825A2.10376,2.10376,0,0,1,10.2,16.65923c-2.225-.25-4.55-1.11254-4.55-4.9375a3.89187,3.89187,0,0,1,1.025-2.6875,3.59373,3.59373,0,0,1,.1-2.65s.83747-.26251,2.75,1.025a9.42747,9.42747,0,0,1,5,0c1.91248-1.3,2.75-1.025,2.75-1.025a3.59323,3.59323,0,0,1,.1,2.65,3.869,3.869,0,0,1,1.025,2.6875c0,3.83747-2.33752,4.6875-4.5625,4.9375a2.36814,2.36814,0,0,1,.675,1.85c0,1.33752-.01251,2.41248-.01251,2.75,0,.26251.1875.575.6875.475A10.0053,10.0053,0,0,0,12,2.2467Z"
                    ></path>
                </svg>
            </a>
            <a
                class="rounded-sm hover:text-social-link-hover focus-visible:outline-none focus-visible:outline-offset-1 focus-visible:outline-primary"
                href="https://www.linkedin.com/in/ahmed-deria99"
                target="_blank"
            >
                <svg width="30" height="30" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none"
                    ><path
                        fill="currentColor"
                        d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 0 1-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 0 0 2 2.866v10.268a.88.88 0 0 0 .885.866h10.226a.882.882 0 0 0 .889-.866V2.865a.88.88 0 0 0-.889-.864z"
                    ></path>
                </svg>
            </a>
        </div>
    </div>
</footer>
